annotated-types==0.7.0
black==25.12.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
dotenv==0.9.9
duckdb==1.4.3
greenlet==3.3.0
idna==3.11
iniconfig==2.3.0
librt==0.7.5
mypy==1.19.1
mypy-extensions==1.1.0
numpy==2.3.5
oauthlib==3.3.1
packaging==25.0
pandas==2.3.3
pandas-stubs==2.3.3.251219
pathspec==0.12.1
platformdirs==4.5.1
pluggy==1.6.0
psutil==7.2.0
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-core==2.41.5
pygments==2.19.2
pyjwt==2.10.1
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytokens==0.3.0
pytz==2025.2
pyyaml==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
six==1.17.0
sqlalchemy==2.0.45
teradataml==20.0.0.9
teradatasql==20.0.0.48
teradatasqlalchemy==20.0.0.9
types-pytz==2025.2.0.20251108
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
urllib3==2.6.2
